body {
  width: 900px;
  background-color: white;
  margin: auto;
  padding: 0;
}
.wrapper {
  width: 900px;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 45px;
}
header {
  margin-bottom: 84px;
}
.menu {
  display: block;
  font-size: 0;
  text-align: center;
  padding: 0;
}
.menu-item {
  display: inline-block;
  font-size: 20px;
  margin: 0 84px 0 0;
  line-height: 40px;
}
.menu-item:last-child {
  margin-right: 0;
}
.menu-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(141, 140, 140);
}
.menu-link:hover {
  color: rgb(39, 86, 240);
}
.list {
  font-size: 0;
  margin:auto;
  padding: 0;
  display: block;
  margin-bottom: 60px;
}
.main-list {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  font-size: 14px;
  margin-bottom: 20px;
}
.main-list:nth-child(even) {
  margin-right: 0px;
}
.main-list:nth-child(n+5){
  margin-bottom: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.image {
  width: 420px;
  margin-bottom: 20px;
}
.subtitle {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  color: #b4ad9e;
}
.title-text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  color: #626262;
}
.text {
  margin: auto;
  font-size: 14px;
  line-height: 1em;
  color: #626262;
}
.button {
  display: block;
  border: 1px silver;
  margin: auto;
  font-size: 30px;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
  text-align: center;
  line-height: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.button a {
  color: rgb(100, 95, 95);
  text-decoration: none;
}
.button:hover {
  box-shadow: 0px 0px 0px 0px;
}
