html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  background-image: url(../img/Object.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #333333;
  min-height: 700px;
}
.wrapper {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}
.logo {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.logo:hover {
  color: #ff4e50;
  cursor: pointer;
}
.button-header {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.button-link {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  width: 90px;
  height: 36px;
  background-color: rgba(26, 25, 21, 0);
  border: 2px solid transparent;
  margin: 0;
  padding: 0;
}
.button-link:hover {
  border-radius: 18px;
  background-color: rgba(26, 25, 21, 0);
  border: 2px solid #ffffff;
  cursor: pointer;
}
.title-text {
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.subtitle-text {
  font-size: 24px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}
.promo-button {
  display: block;
  max-width: 280px;
  min-height: 40px;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
  margin: 0 auto;
}
.promo-button:hover {
  cursor: pointer;
  color: #333333;
}
.main-partners {
  padding-top: 70px;
}
.content {
  padding-bottom: 55px;
}
.title-content {
  font-size: 22px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
.partners {
  list-style: none;
}
.partners-title {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.partners-subtitle {
  font-size: 14px;
  color: #666666;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.partners-content {
  position: relative;
}
.partners-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
}
.partners-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 25%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid;
  border-color: #ffffff;
}
.tv::before {
  background-image: url(../img/Shape1.png);
  background-color: #ff4e50;
}
.flask::before {
  background-image: url(../img/Shape2.png);
  background-color: #ffa507;
}
.cup::before {
  background-image: url(../img/Shape3.png);
  background-color: #1cd7ad;
}
.plane::before {
  background-image: url(../img/Shape4.png);
  background-color: #4e73db;
}
.button-content {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: #ff4e50;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
  margin-top: 30px;
}
.button-content:hover {
  color: #ffffff;
  background-color: #ff4e50;
  cursor: pointer;
}
@media screen and (min-width: 320px) {
  .container {
    min-height: 540px;
    padding-top: 50px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button-header {
    margin-bottom: 115px;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }
  .title-text {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .subtitle-text {
    margin-bottom: 20px;
  }
  .title-content {
    margin-bottom: 20px;
  }
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .partners-content:nth-last-child(1) {
    margin-bottom: 0;
    padding: 0;
  }
  .partners-content {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    min-height: 700px;
  }
  .navigation {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  .page-header{
    margin-bottom: 230px;
  }
  .button-header{
    margin: 0;
  }
  .logo {
    margin: 0;
  }
  .title-text {
    max-width: 510px;
    font-size: 52px;
    margin-bottom: 40px;
  }
  .subtitle-text {
    margin-bottom: 30px;
  }
  .content {
    max-width: 450px;
  }
  .title-content {
    margin-bottom: 30px;
  }
  .partners {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .partners-content:nth-last-child(-n + 2) {
    margin-bottom: 0;
    padding: 0;
  }
}
@media screen and (min-width: 960px) {
  .content {
    max-width: 960px;
  }
  .partners-content:nth-last-child(-n + 4) {
    margin-bottom: 0;
    padding: 0;
  }
}
