html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.wrapper {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}
.logo {
  display: block;
  font-size: 20px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
input[type="button"] {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  /* font-weight: bold; */
  text-align: center;
  text-transform: uppercase;
  width: 90px;
  height: 36px;
  background-color: rgba(26, 25, 21, 0);
  border: none;
}
input[type="button"]:hover {
  border-radius: 18px;
  background-color: rgba(26, 25, 21, 0);
  border: 2px solid #ffffff;
}
.title-text {
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.subtitle-text {
  font-size: 24px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.button-header {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff4e50;
}
.title-content {
  font-size: 22px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
}
.partners {
  list-style: none;
}
.partners-title {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
}
.partners-subtitle {
  font-size: 14px;
  color: #666666;
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
}
.partners-content {
  position: relative;
}
.partners-image {
  border-radius: 50%;
}
.partners-content::before {
  content: "";
  display: block;
  position: absolute;
  top: 40%;
  right: 25%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: 2px solid;
  border-color: #ffffff;
}
.tv::before {
  background-image: url(../img/Shape1.png);
  background-color: #ff4e50;
}
.flask::before {
  background-image: url(../img/Shape2.png);
  background-color: #ffa507;
}
.cup::before {
  background-image: url(../img/Shape3.png);
  background-color: #1cd7ad;
}
.plane::before {
  background-image: url(../img/Shape4.png);
  background-color: #4e73db;
}
.button-content {
  font-size: 14px;
  color: #ff4e50;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #ff4e50;
}

@media screen and (min-width: 320px) {
  .container {
    background-image: url(../img/Smart.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 540px;
    background-color: #333333;
  }
  .navigation {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  input[type="button"] {
    margin-bottom: 120px;
  }
  .page-header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 40px;
  }
  .title-text {
    font-size: 30px;
  }
  .button-header {
    margin: 0 auto;
  }
  .partners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .partners-content {
    display: flex;
    width: 220px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .button-content {
    margin: auto;
    padding: 0;
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-image: url(../img/Tablet.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333333;
    min-height: 700px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  input[type="button"] {
    margin-bottom: 120px;
  }
  .page-header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 40px;
  }
  .title-text {
    font-size: 52px;
  }
  .button-header {
    margin: 0 auto;
  }
  .partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .partners-content {
    display: flex;
    width: 225px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .button-content {
    margin: auto;
    padding: 0;
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    background-image: url(../img/Object.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    background-color: #333333;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
  }
  input[type="button"] {
    margin-bottom: 120px;
  }
  .page-header {
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-bottom: 40px;
  }
  .title-text {
    font-size: 52px;
  }
  .button-header {
    margin: 0 auto;
  }
  .partners {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .partners-content {
    display: flex;
    width: 225px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .button-content {
    margin: auto;
    padding: 0;
    margin-bottom: 55px;
  }
}
