@import url("https://fonts.googleapis.com/css?family=Roboto:300,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html {
  box-sizing: border-box;
  height: 100%;
}
html,
body {
  min-height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wrapper {
  position: relative;
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-box {
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 90px;
  background-color: #323232;
  text-align: center;
}
.page-header {
  padding: 40px 0;
}
.logo {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  float: left;
  margin: 0;
  padding: 0;
  color: #555252;
  font-family: "Roboto";
}
.logo:hover {
  color: #1abc9c;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 800;
}
.menu {
  display: block;
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
}
.menu-item {
  float: left;
  margin-left: 30px;
}
.menu-item:first-child {
  margin-left: 0;
}
.menu-link {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
}
.menu-link:hover {
  color: #1abc9c;
}
.slider {
  position: relative;
  min-height: 600px;
  background-image: url(../img/slide.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.slider-title {
  position: relative;
  min-height: 600px;
}
.slider-button {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
  display: inline-block;
  width: 105px;
  line-height: 105px;
  background-color: #54a18f;
  font-size: 45px;
  color: white;
  text-align: center;
  z-index: 1;
  padding: 0;
  border: none;
  cursor: pointer;
}
.slider-button-prev {
  left: 0px;
}
.slider-button-next {
  right: 0px;
}
.slider-content {
  position: absolute;
  top: 220px;
  left: 195px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-text {
  margin-bottom: 15px;
  margin-top: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 60px;
}
.slider-subtext {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 24px;
}
.menu-collection {
  padding-top: 100px;
  background-color: #e9f0fd;
  padding-bottom: 100px;
}
.title {
  font-family: "Roboto Black", sans-serif;
  font-size: 48px;
  text-align: center;
  color: #555252;
  font-family: "Roboto";
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 100px;
}
.title::after {
  content: "";
  display: block;
  width: 160px;
  margin: 0 auto;
  border-bottom: 8px solid #1abc9c;
  margin-top: 30px;
}
.new-collection {
  position: relative;
}
.collection {
  margin: 0;
  padding: 0;
  list-style: none;
}
.collection-item {
  position: relative;
  float: left;
  width: 255px;
  text-decoration: none;
  background-color: #e9f0fd;
  margin-right: 30px;
}
.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 282px;
  border: 10px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.549);
  cursor: pointer;
}
.products-title {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 18px;
  line-height: 45px;
  color: white;
  text-align: center;
  bottom: 45px;
  position: absolute;
  bottom: 0;
}
.name-products {
  text-transform: uppercase;
  background-color: #323232;
  float: left;
  width: 200px;
  margin: 0px;
}
.price-products {
  text-transform: uppercase;
  float: right;
  background-color: #8c8c8c;
  margin: 0px;
  width: 55px;
}
.collection-item:nth-of-type(4n) {
  margin-right: 0;
}
.collection-item:hover .name-products {
  background-color: #1abc9c;
}
.collection-item:hover .price-products {
  background-color: #7fd9c7;
}
.subtitle {
  background-color: #323232;
}
.collection-item:hover .overlay {
  opacity: 1;
}
.hover-link {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-link {
  display: inline-block;
  margin-right: 11px;
}
.hart {
  display: inherit;
  min-width: 50px;
  min-height: 50px;
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border: 1px solid white;
}
.line {
  display: inherit;
  min-width: 50px;
  min-height: 50px;
  background-image: url(../img/2.png);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border: 1px solid white;
}
.clock {
  display: inherit;
  min-width: 50px;
  min-height: 50px;
  background-image: url(../img/3.png);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
  border: 1px solid white;
}
.basket {
  display: inherit;
  min-width: 180px;
  min-height: 50px;
  background-image: url(../img/4.png);
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  border-style: solid;
  border: 1px solid white;
  background-position: 10% 50%, 80% 50%;
  padding-top: 15px;
  padding-left: 45px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 14px;
  color: white;
}
.hart:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.line:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.clock:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.basket:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.footer-content {
  position: relative;
}
.footer-text {
  padding: 36px 0;
  color: #fefefe;
  margin: 0;
  font-family: "Open Sans";
}
.footer-link {
  display: inline-block;
  text-decoration: none;
  color: #fefefe;
}
.footer-link:hover {
  color: #1abc9c;
}
