$first-font: 'Roboto';
$second-font: 'Montserrat';
$third-font: 'Kaushan Script';
$first-color-text: #ffffff;
$second-color-text:#333333;
$third-color-text: #999999;
$background-color: #fce38a;
$hover-color:#f38181;
$border-color: #e5e5e5;
$buton-email: #95e1d3;