@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  display: block;
  text-decoration: none;
}
.text{
  text-align: center;
  margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.page-header {
  height: 1000px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.site-banner {
  height: 1000px;
  background: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
}
.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 170px;
}
.page-nav__site-navigation {
  width: 500px;
}
.site-logo {
  font-size: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
.site-logo:hover,
.site-logo:focus {
  color: #fce38a;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-navigation__link {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
.site-navigation__link::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fce38a;
  margin: 0 auto;
  margin-top: 12px;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.site-navigation__link:hover:after,
.site-navigation__link:focus:after {
  opacity: 1;
}
.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #fce38a;
}
.site-banner__title {
  font-size: 72px;
  color: #ffffff;
  font-family: "Kaushan Script";
  font-weight: 400;
  margin-bottom: 40px;
}
.site-banner__subtitle {
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 125px;
}
.site-banner__button {
  display: block;
  width: 160px;
  height: 40px;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid #ffffff;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
}
.site-banner__button:hover,
.site-banner__button:focus{
  border: 4px solid #f38181;
  color: #f38181;
  cursor: pointer;
}
.service-page {
  padding-top: 90px;
}
.service-title {
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  font-weight: 100;
  margin-bottom: 25px;
}
.service-title::first-letter {
  text-transform: uppercase;
}
.service-subtitle {
  font-size: 30px;
  color: #333333;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.service-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}
.service-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.submenu-service {
  width: 380px;
  background-repeat: no-repeat;
  background-position: 7% 25%;
}
.submenu-service:nth-child(-n + 3) {
  margin-bottom: 90px;
}
.submenu-service_alarm {
  background-image: url(../img/icons/ALARM.svg);
}
.submenu-service_line {
  background-image: url(../img/icons/LINE.svg);
}
.submenu-service_computer {
  background-image: url(../img/icons/COMPUTER.svg);
}
.submenu-service_book {
  background-image: url(../img/icons/BOOK.svg);
}
.submenu-service_home {
  background-image: url(../img/icons/HOME.svg);
}
.submenu-service_image {
  background-image: url(../img/icons/IMAGE.svg);
}
.submenu-service__text {
  margin: 0;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: justify;
  padding-left: 80px;
  line-height: 2.5rem;
}
.submenu-service__subtext {
  margin: 0;
  font-size: 15px;
  color: #999999;
  font-family: "Roboto";
  text-align: justify;
  padding-left: 80px;
  line-height: 2em;
}
.our-team {
  padding-bottom: 80px;
  padding-top: 90px;
}
.our-team__info {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto";
  margin-bottom: 80px;
}
.our-team__menu{
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}
.our-team__overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 380px;
  height: 470px;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  -webkit-transition: opacity 200ms linear, -webkit-box-shadow;
  transition: opacity 200ms linear, -webkit-box-shadow;
  -o-transition: box-shadow, opacity 200ms linear;
  transition: box-shadow, opacity 200ms linear;
  transition: box-shadow, opacity 200ms linear, -webkit-box-shadow;
  z-index: 1;
}
.our-team__team-list:hover .our-team__overlay {
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
  opacity: 1;
  -webkit-box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
          box-shadow: 10px 10px 0 rgba(149, 225, 211, 1);
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.our-team__image{
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  transition: opacity 0.2s linear, -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s linear, -webkit-transform 0.2s linear;
}
.our-team__team-list:hover .our-team__image{
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}
.overlay__hover-link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.overlay__icon-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fce38a;
  width: 55px;
  height: 55px;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.overlay__icon-link svg {
  display: inline-block;
  fill: #f38181;
  width: 55px;
  height: 55px;
  border: 14px solid #fce38a;
  -webkit-transition: border 200ms linear;
  -o-transition: border 200ms linear;
  transition: border 200ms linear;
}
.overlay__icon-link svg:hover {
  fill: #ffffff;
  border: 14px solid #f38181;
}
.overlay__icon-link a:hover {
  background-color: #f38181;
}
.our-team__name {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-top: 40px;
}
.our-team__work {
  font-size: 15px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 15px;
}
.page-footer {
  min-height: 60px;
  border-style: solid;
  border: 1px solid #e5e5e5;
}
.page-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer__text {
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  text-align: center;
}
.page-footer__link {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  text-align: center;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
.page-footer__link:hover {
  color: #f38181;
}
.page-footer__button-text {
  min-width: 230px;
  min-height: 40px;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.page-footer__button-email {
  border: none;
  background-color: #95e1d3;
  min-width: 150px;
  min-height: 40px;
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-header {
    background-image: url(../img/banner@2x.jpg);
  }
}